<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sacramento&family=Single+Day&display=swap" rel="stylesheet">

        <title>Gazique</title>
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="icon" href="static/favicon.ico">
    </head>
    <body>
        <div class="header"> 
            <img src="static/images/cloud-1.png" class="top-cloud">
            <h1>I'm Gazique</h1>
            <h2>a beg1nner <span class="pro">pr0</span>grammer</h2>
            <img src="static/images/cloud-1.png" class="bottom-cloud" alt="cloud">
            <img src="static/images/mountain-2.png" class="mountain" alt="mountain">
        </div>
        <div class="top-container">
            <div class="profile">
              <img src="static/images/logo.png" alt="ashutosh-profile-img" />
              <h2>Hello.</h2>
              <p class="intro">
                I am a beginner progammer. I'm the student of BGU university. <br>
                I ❤️ dancing and reading.
              </p>
            </div> 
            <hr />
            <div class="skills">
              <h2>My Skills.</h2>
              <div class="skill-row">
                <img
                  class="code-img"
                  src="static/images/virus.gif"
                  alt="code-img"
                />
      
                <h3>Design & Development</h3>
                <p class="code-skill-description">
                  I started learning to code when I was 11 years old because I wanted
                  to make my own video games. Over time, I have gained a wealth of
                  experience making applications.
                </p>
              </div>
              <div class="skill-row">
                <iframe class="dancing-img" src="https://giphy.com/embed/cklPOHnHepdwBLRnQp" frameBorder="0" allowFullScreen></iframe>
                <h3>Dancing ⟭⟬</h3>
                <p class="dancing-skill-description">
                  But my best skill is actually in dancing. I 💜 K-POP and 
                  I like to express myself by dancing which is really 
                  meaningful for my poor character.
                </p>
              </div>
            </div>
            <hr />
            <div class="contact-me">
              <h2>Get In Touch</h2>
              <h3>If you love ⟭⟬💜 as much as I do.</h3>
              <p class="contact-message">
                Love ⟭⟬💜 as much as I do? Let's talk about how awesome they are!
                We can code while we ⟭⟬💜!
              </p>
              <a class="btn" href="mailto:gazique@gmail.com">CONTACT ME</a>
            </div>
          </div>
      
          <div class="bottom-container">
            <a
              class="footer-link"
              href="https://www.linkedin.com/in/ashutoshkrris/"
              >LinkedIn</a
            >
            <a class="footer-link" href="">Twitter</a>
            <a class="footer-link" href="">Website</a>
            <p class="copyright">© 2022  ishkinin Gazinur</p>
          </div>
    </body>
</html>