body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 { 
    margin: 50px auto 0;
    font-family: 'Sacramento', sans-serif;
    font-size: 5.625rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h1, h2 {
    color: #66BFBF;
}

h3 {
    color: #11999E;
    text-align: center;
}
.header {
    background-color: #72FFFF;
    margin: 0;
    padding: 10px 0 0;
    font-family: 'Single Day', sans-serif;
    position: relative;
}

.bottom-cloud {
    position: absolute;
    top: 15%;
    left: 15%;

}

.top-cloud {
    position: absolute;
    right: 20%;
}

.mountain {
    position: relative;
    right: 15px;
    top: 15px;
}

.pro {
    text-decoration: underline;
}

/* Skills */

.top-container {
    margin: 5% auto 2%;
}

.intro {
    color: #40514E
}
.skills {
    text-align: center;
}

P {
    line-height: 2;
}
.skill-row {
    width: 50%;
    margin: 0 auto 0;
    text-align: left;
    margin-bottom: 200px;
} 

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.dancing-img {
    margin-left: 30px;
    float: right;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 8%; 
    margin: 100px auto 100px;
}

/* bottom */

.contact-message {
    width: 30%;
    margin: 40px auto 60px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat ";
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

a {
    color: #0e7074;
    font-family: 'Montserrat', sans-serif; 
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #EAF6F6;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}



/* .code-skill-description {
    clear: left;
}

.dancing-skill-description {
    clear: right;
} */